* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
  line-height: $default-line-height;
  font-weight: $default-font-weight;
  background-color: $body-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: $default-font-weight;
  line-height: $heading-line-height;
}

h1 {
  font-size: $h1-font-size;
  letter-spacing: -1.75px;
  margin-bottom: 24px;
}

h2 {
  font-size: $h2-font-size;
  letter-spacing: -1.25px;
}

h3 {
  font-size: $h3-font-size;
  letter-spacing: -1px;
}

h4 {
  font-size: $h4-font-size;
  letter-spacing: -1px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: $h1-mobile-font-size;
  }

  h2 {
    font-size: $h2-mobile-font-size;
  }

  h3 {
    font-size: $h3-mobile-font-size;
  }

  h4 {
    font-size: $h4-mobile-font-size;
  }
}

a {
  color: $a-color;
  text-decoration: none;

  &:hover {
    color: $a-hover-color;
    text-decoration: underline;
  }

  &:visited {
    color: $a-visited-color;
  }
}

blockquote {
  border-left: $blockquote-border;
  padding-left: 8px;
  color: $blockquote-color;
  letter-spacing: -1px;
  font-style: italic;
  margin: 28px 0;
}

pre,
code {
  border: $code-border;
  background-color: $code-background-color;
  color: $code-color;
  padding: 8px 12px;
  border-radius: $default-border-radius;
  font-size: $code-font-size;
  overflow: auto;
}

code {
  padding: 2px 4px;
}

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

p {
  margin-top: 12px;

  &:first-of-type {
    margin-bottom: 12px;
  }
}
