.wrap {
  max-width: 800px;
  padding: 0 32px;
  margin: 0 auto;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display:table;
  }

  &:after {
    clear: both;
  }
}

.site-header {
  border-top: 4px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: white;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 32px 0;
}

.page-content {
  padding: 32px 0;
  background-color: #fff;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 28px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;

  & .menu-icon {
    display: none;
  }

  & a {
    margin-left: 20px;
    color: #727272;
    letter-spacing: -.5px;
  }
}

.pagination {
  text-align: center;
}

.flex-wrap {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .flex-wrap {
    flex-direction: column;
  }

  .flex-wrap > * {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    padding: 0 12px;
  }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e8e8e8;

    & .menu-icon {
      display: block;
      font-size: 24px;
      color: #505050;
      float: right;
      width: 36px;
      text-align: center;
      line-height: 36px;
    }

    & .menu-icon svg {
      width: 18px;
      height: 16px;
    }

    & .trigger {
      clear: both;
      margin-bottom: 4px;
      display: none;
    }

    &:hover .trigger {
      display: block;
    }

    & .page-link {
      display: block;
      text-align: right;
      line-height: 1.25;
      padding: 4px 8px;
      margin: 0;
    }
  }
}

.center-block {
  display: block;
  margin: 0 auto;
}
