.post-header {
  margin: 12px 0 32px;

  & .meta {
    font-size: 16px;
    color: #818181;
    margin-top: 4px;
  }
}

.post-content {
  margin: 0 0 32px;

  & > * {
    margin: 20px 0;
  }

  & ul,
  & ol {
    padding-left: 20px;
    margin-left: 1.35em;
  }
}

@media screen and (max-width: 600px) {
  .post-content ul,
  .post-content ol {
    padding-left: 12px;
  }
}

