.posts {
  list-style-type: none;
}

.posts-li {
  margin-bottom: 32px;

  &:first-of-type {
    margin-top: 32px;
  }
}

/* extend .post-link from h2 */
.post-link {
  font-size: $h2-font-size;
  letter-spacing: -1.25px;
  line-height: $heading-line-height;
}

@media screen and (max-width: 600px) {
  /* extend .post-link from h2 */
  .post-link {
    font-size: $h2-mobile-font-size;
  }
}
