.posts {
  list-style-type: none;
}

.posts-li {
  margin-bottom: 32px;

  &:first-of-type {
    margin-top: 32px;
  }
}

.post-link {
  font-size: 32px;
  letter-spacing: -1.25px;
  line-height: 1;
}

.post-date {
  display: block;
  font-size: 16px;
  color: #818181;
}

@media screen and (max-width: 600px) {
  .post-link {
    font-size: 28px;
  }
}
