pre.terminal {
  border: $terminal-border;
  background-color: $terminal-background-color;
  color: #FFF;
  border-radius: $default-border-radius;

  & code {
    background-color: $terminal-background-color;
  }
}
